.concert {


  .container {
    position: relative;
    padding: 9.8rem 0 5rem;
  }

  &__decor {
    position: absolute;
    top: 0;
    right: 0.2rem;
  }

  &__title {
    margin: 0 0 6rem;
  }

  &__time {
    display: flex;
    align-items: center;
    gap: 4rem;
    margin: 0 0 4rem;
  }

  &__time-text {
    font-family: $mossport;
    text-transform: uppercase;
    font-size: 7.5rem;
  }

  &__description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2.6rem;
    margin: 0 0 9.5rem;
  }

  &__tag {
    display: inline-flex;
    color: $black;
    background-color: $white;
    border-radius: 36px;
    font-size: 2.6rem;
    letter-spacing: 0.1rem;
    padding: 1.2rem 1.1rem;
    text-transform: uppercase;

  }



}
