.hero {

  .container {
    position: relative;
  }

  &__top {
    padding: 12.9rem 0 9.3rem;

    @media (max-width: $tablet) {
      padding: 8.5rem 0 10rem;
    }

    @media (max-width: $mobile) {
      padding: 4rem 0 10rem;
    }
  }

  &__bottom {
    padding: 5.9rem 0 8.3rem;

    @media (max-width: $tablet) {
      padding: 4.2rem 0 8.3rem;
    }

    @media (max-width: $mobile) {
      padding: 2.6rem 0 5.3rem;
    }

  }

  &__main-image {
    padding-left: 8.5rem;
    border-left: 1.3rem solid $red;

    @media (max-width: $tablet) {
      padding-left: 7.8rem;
      width: 91%;
    }

    @media(max-width: $mobile) {
      padding-left: 0;
      width: 76%;
      border-left: 0;
    }
  }

  &__info {
    margin: 0 0 5.2rem;

    @media(max-width: $tablet) {
      margin: 0 0 6rem;
    }

    @media(max-width: $mobile) {
      margin: 0 0 4rem;
    }
  }
  &__decor {
    position: absolute;
    right: -8.5rem;
    top: -50.8rem;

    @media(max-width: $laptop) {
      top: -40rem;
      right: -10rem;
      width: 50%;
    }

    @media(max-width: $tablet) {
      top: -14.5rem;
      right: -1.5rem;
      width: 59%;
    }

    @media (max-width: $mobile) {
      top: -16.5rem;
      right: -2rem;
      width: 70%;

      max-width: 35rem
    }
  }

  &__info-block {
    display: flex;
    align-items: flex-start;
    margin: 0 0 3.8rem;

    @media (max-width: $tablet) {
      position: relative;
      flex-wrap: wrap;
      max-width: 33.5rem;

      margin: 0;

      &:first-child {
        margin: 0 0 3.8rem;
      }
    }

    @media (max-width: $mobile) {
      margin: 0 0 2.8rem;

      &:first-child {
        margin: 0 0 2.6rem;
      }
    }
  }

  &__info-text {
    font-family: $mossport;
    font-size: 7.5rem;
    line-height: 1;
    text-transform: uppercase;

    @media (max-width: $tablet) {
      width: 100%;
      font-size: 3.5rem;

      br {
        display: none;
      }
    }

    @media (max-width: $mobile) {
      br {
        display: inline;
      }
    }
  }

  &__badge {
    font-family: $mossport;
    color: $purple;
    background-color: $white;
    border-radius: 36px;
    padding: 1rem 1.6rem;
    font-size: 3.5rem;
    margin-left: 2.6rem;
    margin-top: 1.5rem;
    text-transform: uppercase;

    &--mobile {
        display: none;

    }

    @media (max-width: $tablet) {
      position: absolute;
      right: 0;
      bottom: 0;
      font-size: 2.4rem;
      margin: 0;
      padding: 0.8rem 1.8rem;
    }

    @media (max-width: $mobile) {
      display: none;
      position: relative;
      width: auto;

      &--mobile {
        display: block;
        width: max-content;
        margin: 0 auto;
        padding: 0.6rem 1.8rem;
      }
    }
  }

  &__info-block-image {
    margin-right: 4rem;

    @media (max-width: $tablet) {
      width: 1.8rem;
      margin: 0 0 1rem;
    }
  }

  &__description {
    font-size: 2.6rem;
    line-height: 1;
    max-width: 66rem;
    color: $bgcolor;

    p {
      margin: 0 0 3rem;

      &:last-child {
        margin: 0;
      }
    }

    @media (max-width: $tablet) {
      max-width: 35.8rem;
      font-size: 2rem;

      p {
        margin: 0 0 1rem;
      }
    }

    @media (max-width: $mobile) {
      font-size: 1.4rem;
      margin-top: 4.1rem;

    }
  }
}
