.hero {

  .container {
    position: relative;
  }

  &__top {
    padding: 12.9rem 0 9.3rem;
  }

  &__bottom {
    padding: 5.9rem 0 8.3rem
  }

  &__main-image {
    padding-left: 8.5rem;
    border-left: 1.3rem solid $red;
  }

  &__info {
    margin: 0 0 5.2rem;
  }

  &__decor {
    position: absolute;
    right: -8.5rem;
    top: -50.8rem;
  }

  &__info-block {
    display: flex;
    align-items: flex-start;
    margin: 0 0 3.8rem;
  }

  &__info-text {
    font-family: $mossport;
    font-size: 7.5rem;
    line-height: 1;
    text-transform: uppercase;
  }

  &__badge {
    font-family: $mossport;
    color: $purple;
    background-color: $white;
    border-radius: 36px;
    padding: 1rem 1.6rem;
    font-size: 3.5rem;
    margin-left: 2.6rem;
    margin-top: 1.5rem;
    text-transform: uppercase;
  }

  &__info-block-image {
    margin-right: 4rem;
  }

  &__description {
    font-size: 2.6rem;
    line-height: 1;
    max-width: 66rem;

    p {
      margin: 0 0 3rem;

      &:last-child {
        margin: 0;
      }
    }
  }


}
