.partners {

  .container {
    padding: 0;
  }

  &__wrapper {
    display: flex;
    gap: 3.5rem;
  }

  &__decor {
    flex-shrink: 0;
    position: relative;
    right: 6.5rem;
    bottom: 4rem;
  }

  &__content {
    padding: 10rem 0 0;
  }

  &__blocks {
    display: flex;
    gap: 3.9rem;
    flex-wrap: wrap;

    &:not(:last-child) {
      margin: 0 0 10.4rem;
    }
  }

  &__logo {
    width: 16rem;
    height: 5.9rem;
  }

}
