.people {
  width: 100%;
  overflow: visible;

  &__slider {
    position: relative;
    overflow: visible;
  }

  &__wrapper {
    @media (max-width: $tablet) {
      gap: 1rem;
    }
  }

  &__arrow {
    position: absolute;
    top: 50%;
    z-index: 20;
    cursor: pointer;

    .disabled & {
      display: none;
    }

    &--prev {
      left: -0;
    }

    &--next {
      right: 0;
    }

    @media (max-width: $tablet) {
      width: 3.5rem;
      height: 3.5rem;
    }
  }

  &__slide {
    width: 33%;

    @media (max-width: $tablet) {
      img {
        max-width: 21.5rem;
      }
    }
  }

  &__slide-title {
    color: $purple;
    font-family: $mossport;
    text-transform: uppercase;
    font-size: 3.5rem;
    line-height: 1;
    margin: 0 0 3rem;
    text-align: center;

    &--white {
      color: $white;
    }

    @media (max-width: $tablet) {
      font-size: 2.4rem;
    }
  }

}
